.offers {
    display: flex;
    flex-direction: column;

    &__title {
        padding: 24px 0;

        background-color: var(--background-primary);

        text-align: center;
        text-transform: uppercase;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        padding: 16px;

        background-color: var(--background-secondary);

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
            gap: 32px;
        }
    }
}
