/* ##### LOAD FONTS ##### */
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans-Medium";
    src: url("../fonts/OpenSans-Medium.woff2");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans-SemiBold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.woff2");
    font-display: swap;
}

/* ##### COLORS ##### */
:root {
    --background-primary: #ffffff;
    --background-secondary: #f8f9fa;
    --background-tetriary: #5c5c5c;

    --button-primary: #ffffff;
    --button-hover: #6c757d;

    --text-primary: #212529;
    --text-secondary: #737373;
    --text-accent-1: #ca3521;
    --text-accent-2: #ffffff;

    --brand-color: #800000;

    --overlay-opacity-primary: rgba(0, 0, 0, 0.4);
}

/* ##### TYPOGRAPHY ##### */
:root {
    /* ===== Fonts ===== */
    --Regular-font-family: "OpenSans-Regular";

    --Medium-font-family: "OpenSans-Medium";

    --SemiBold-font-family: "OpenSans-SemiBold";

    --Bold-font-family: "OpenSans-Bold";

    /* ===== Sizes ===== */
    /* ----- H1 ----- */
    --H1-font-size: 60px;
    --H1-line-height: 72px;

    --H1-font-size-laptop: 52px;
    --H1-line-height-laptop: 56px;

    --H1-font-size-tablet: 44px;
    --H1-line-height-tablet: 48px;

    --H1-font-size-mobile: 28px;
    --H1-line-height-mobile: 32px;

    /* ----- H2 ----- */
    --H2-font-size: 56px;
    --H2-line-height: 62px;

    /* ----- H3 ----- */
    --H3-font-size: 48px;
    --H3-line-height: 56px;

    --H3-font-size-mobile: 22px;
    --H3-line-height-mobile: 26px;

    /* ----- H4 ----- */
    --H4-font-size: 40px;
    --H4-line-height: 44px;

    /* ----- XXL ----- */
    --XXL-font-size: 32px;
    --XXL-line-height: 36px;

    /* ----- XL ----- */
    --XL-font-size: 28px;
    --XL-line-height: 32px;

    --XL-font-size-laptop: 24px;
    --XL-line-height-laptop: 28px;

    --XL-font-size-mobile: 18px;
    --XL-line-height-mobile: 22px;

    /* ----- L ----- */
    --L-font-size: 24px;
    --L-line-height: 28px;

    --L-font-size-laptop: 20px;
    --L-line-height-laptop: 24px;

    --L-font-size-mobile: 16px;
    --L-line-height-mobile: 20px;

    /* ----- M ----- */
    --M-font-size: 20px;
    --M-line-height: 24px;

    --M-font-size-laptop: 16px;
    --M-line-height-laptop: 20px;

    --M-font-size-mobile: 14px;
    --M-line-height-mobile: 18px;

    /* ----- S ----- */
    --S-font-size: 16px;
    --S-line-height: 20px;

    --S-font-size-laptop: 14px;
    --S-line-height-laptop: 18px;

    /* ----- XS ----- */
    --XS-font-size: 14px;
    --XS-line-height: 18px;

    --XS-font-size-laptop: 12px;
    --XS-line-height-laptop: 16px;

    --XS-font-size-mobile: 10px;
    --XS-line-height-mobile: 12px;

    /* ----- XXS ----- */
    --XXS-font-size: 12px;
    --XXS-line-height: 16px;

    --XXS-font-size-laptop: 10px;
    --XXS-line-height-laptop: 12px;

    /* ----- XXXS ----- */
    --XXXS-font-size: 10px;
    --XXXS-line-height: 14px;
}