.the-header {
    display: flex;
    align-items: center;
    gap: 24px;

    padding: 8px 24px;
}

.slogan {
    &__img {
        height: 80px;
    }
}

.navigation {
    flex-grow: 1;

    padding: 8px 0;

    background-color: var(--background-secondary);
    border-top: 2px solid var(--brand-color);
    border-bottom: 2px solid var(--brand-color);

    &-list {
        display: flex;
        justify-content: center;
        gap: 16px;

        width: 100%;

        list-style: none;

        text-transform: uppercase;
    }

    &__item {
        padding: 8px;

        color: var(--text-secondary);

        &.active {
            color: var(--text-primary);
        }
    }
}
